@model IEnumerable<BiomedicalWebApp.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Pacientes</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Añadir nuevo paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                DNI
            </th>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Fecha Nacimiento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                Pais
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaisNavigation.IdPais)
            </td>
            <td>
                    <a asp-controller="TurnoP" asp-action="Index" class="btn btn-secondary">Asignar consulta</a>
                    <a asp-action="Delete" asp-route-id="@item.IdPaciente" class="btn btn-danger">Eliminar</a>
                <a asp-action="Edit" asp-route-id="@item.IdPaciente" class="btn btn-success">Editar</a>
            </td>
        </tr>
}
    </tbody>
</table>
