@model IEnumerable<BiomedicalWebApp.Models.TurnoPaciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Asignar Consulta</h1>

<p>
    <a asp-action="Create">Nueva asignación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdMedicoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPacienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTurnoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMedicoNavigation.IdMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.IdPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTurnoNavigation.IdTurno)
                </td>
        </tr>
}
    </tbody>
</table>
